body

{
    background-image: url("marmur2.jpg");
}

P

{
    color:red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-family: 'Aref Ruqaa Ink', serif;
}